* {
  box-sizing: border-box;
}
html,body {
  border: 1px solid;
  height: 100%;
  position: relative;
  left: 0;
  width: 100%;
}
.header{
  height: 30px;
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  
}
.footer {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px solid;
}
.center {
  display: flex;
  justify-content: center;
  border: 1px solid
}
.nav a {
  padding: 5px;
  color: #000;
  border: 1px solid
}
.nav-b a {
  padding: 5px;
  color: #000;
  border: 1px solid
}
.google {
  text-align: center;
  font-size: 40px;
  border: 1px solid
}
